flask
flask-cors
flask-jwt-extended
authlib
python-dotenv
werkzeug
gunicorn
numpy
scipy
pillow
librosa
exifread
transformers
# Use headless OpenCV to avoid "libGL.so not found" errors
opencv-python-headless
# DeepFace requires a backend. We installed the engine in Docker, so we just need the wrapper here.
deepface